/* Write your global styles here, in PostCSS syntax */

@import url('https://fonts.googleapis.com/css2?family=Flow+Block&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;

html,
body {
  margin: 0px;
  padding: 0px;
}

@tailwind components;

@tailwind utilities;
