/* Write your global styles here, in PostCSS syntax */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,500&display=swap");

@tailwind base;

html,
body {
  margin: 0px;
  padding: 0px;
}

@tailwind components;

@tailwind utilities;
